@model CasoEstudio_Form.Domain.DTOs.Publicaciones.Publicaciones
@{
    ViewData["Title"] = "Responder Comentario";
}

<div class="container">
    <h1>Editar Comentario</h1>
    <hr />

    <!-- Muestra el comentario padre al que se está respondiendo -->
    <div class="card my-3">
        <div class="card-body">
            <h5 class="card-title">@Model.IdParent</h5>
            <p class="card-text">@Model.TextComentario</p>
        </div>
    </div>

    <form asp-action="Edit" method="post">
        <div class="form-group">
            <label asp-for="TextComentario">Tu Respuesta</label>
            <textarea asp-for="TextComentario" class="form-control"></textarea>
            <input type="hidden" asp-for="IdUsuario" value="@Context.Session.GetInt32("idUser")" />
            <input type="hidden" asp-for="IdComentario" />
            <input type="hidden" asp-for="IdParent" />
        </div>

        <button type="submit" class="btn btn-primary">Publicar Respuesta</button>
    </form>
</div>
